/*
    style.css
    Tip: Refresh to see changes.
*/

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
    background-color: #404040;
    color: whitesmoke;
}

article#game-box {
    border: none;
    border-radius: 16px;
    margin: 0;
    padding: 0;
}

.screen-box #game-board {
    margin: 0;
    padding: 4px;
    border: 2px solid slategray;
    border-radius: 8px;
    background-color: silver;
    color: whitesmoke;
}

.controls-box #control-bar {
    margin-top: 8px;
    padding: 8px;
    margin: 0;
    text-align: center;
}

ul#control-bar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

li.control-item button.control-btn {
    display: block;
    margin-right: 16px;
    padding: 16px;
    border: silver;
    border-radius: 8px;
    background-color: goldenrod;
    font-size: 16pt;
    font-weight: bold;
    color: whitesmoke;
}

button.control-btn:hover {
    display: block;
    background-color: gold;
    color: white;
}
