body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
    background-color: #404040;
    color: whitesmoke;
}

article#game-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: none;
    border-radius: 16px;
    margin: 0;
    padding: 0;
}

.screen-box > #game-board {
    margin: 0;
    padding: 4px;
    border: 2px solid slategray;
    border-radius: 8px;
    background-color: silver;
    color: whitesmoke;
}

.controls-box > #control-bar {
    padding: 8px;
    margin: 0;
    text-align: center;
}

ul#control-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: gold;
}

li.control-item > button.control-btn {
    display: block;
    border: silver;
    background-color: goldenrod;
    color: whitesmoke;
}

button.control-btn:hover {
    background-color: gold;
    color: white;
}
